#weather {
    display: flex;
    align-items: center;
    color: #1bc24a;

    #weather-icon {
        font-size: 1rem;
    }

    #weather-temp,
    #weather-description {
        margin-right: 10px;
    }

    #weather-description {
        text-transform: capitalize;
    }
}

#weather:hover {
    opacity: 0.8;
}